html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
h1, h2, h3 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  padding: 0 0 10px;
  margin: 0;
  font-weight: 700;
  line-height: 1.2em;
  text-transform: uppercase;
}
h1 {
  color: #2B3849;
  font-size: 2.4em;
}
h2 {
  color: #20B7AC;
  font-size: 1.5em;
}
h3 {
  color: #20B7AC;
  font-size: 1.25em;
}
h4 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #20B7AC;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: uppercase;
}
.white-text {
  color: #E9E9EA;
}
.red-text {
  color: #F77C63;
}
.blue-text {
  color: #0079C1;
}
.dkblue-text {
  color: #2B3849;
}
.green-text {
  color: #20B7AC;
}
.black-text {
  color: #222;
}
.center-text {
  text-align: center !important;
}
.center-margin {
  margin: 0 auto;
}
a:link, a:visited {
    color: #0079c1;
    text-decoration: none;
}
a:hover, a:active {
    color: #20b7ac;
}
audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ===== Initializr Styles ===== */

body {
  font: 16px/26px 'Open Sans', Helvetica, Helvetica Neue, Arial;
}

/* ===================
    ALL: Theme
   =================== */

.header-container {
  /*border-bottom: 20px solid #0097B8;*/
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;
  height: 100px;
}
.header-container header{
  height: 100px;
}
.footer-container, .main aside {
  border-top: 20px solid #0097B8;
}
.header-container, .main aside {
  background: #ECEDEF;
}
.title, .title img {
  width: 200px;
  color: white;
  float: left;
  margin: 10px 0 0;
}
article {
  text-align: center;
}
article header {
  margin-bottom: 20px;
}
video {
  max-width: 100%;
}
/* ==============
    MOBILE: Menu
   ============== */

nav {
  width: 100%;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: .8em;
  width: 100%;
  display: none;
}
nav a {
  display: block;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  font-weight: light;
  text-transform: uppercase;
  color: white !important;
  background: #3C4A60;
}
nav a:hover {
  color: white;
  background: #182029;
}
nav a.active {
  font-weight: 700;
  background: #182029;
}
nav a.menu-request {
  font-weight: 700;
  color: #fff !important;
  background: #F6936F;
}
nav a.menu-request:hover {
  color: #fff !important;
  background: #F77C63;
}

.anchor{
  display: block;
  height: 100px; /*same height as header*/
  margin-top: -100px; /*same height as header*/
  visibility: hidden;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
  padding: 0;
}
.main aside {
  color: #222;
  padding: 0px 5% 10px;
}
.footer-container footer {
  padding: 20px 0;
  overflow: hidden;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   custom styles
   ========================================================================== */

.menu {
  display: block;
  margin-top: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white !important;
  background: #3C4A60;
  float: right;
}
nav ul {
  background: #3C4A60;
  clear: both;
}
.footer-container {
  background: #182029;
  color: #20b7ac;
}
.footer-container footer ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}
.footer-container footer a {
  color: #E9E9EA;
  text-decoration: none;
}
.footer-container footer a:hover, .footer-container footer a:active {
  text-decoration: underline;
}
.footer-container footer .half {
  text-align: center;
}
.main-container {
  border-bottom: #C5C5C5 1px solid;
  padding: 20px 0;
}
.dark {
  background: #2B3849;
  border-bottom: 0px;
}
.button {
  display: block;
  width: 100%;
  padding: 0;
  background: #F6936F;
  color: white !important;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  overflow: hidden;
  line-height: 56px;
  border: 0;
  box-sizing: border-box;
}
.button:hover {
  background: #F77C63;
}
input {
  width: 100%;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
}
.r-icon {
  text-align: left;
  width: 280px;
  padding-left: 10px;
}
.r-icon img {
  float: right;
}
.list {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.list li {
  margin: 10px 0;
}
.list li i {
  color: #FC7C63;
}

/* ==========================================================================
   SECTIONS
   ========================================================================== */


/*Top*/

.page-title {
  padding-top: 110px;
  box-sizing: border-box;
  color: #ECEDEF;
  border-bottom: none !important;
}
.page-title.home {
  background: url('../images/topbg.jpg') center center no-repeat;
}
.page-title.home h1 {
  font-size: 1.3em;
}
.page-title.home section {
  text-align: center;
}
.page-title footer {
  clear: both;
  padding: 3% 0;
  text-align: center;
  overflow: hidden;
}
.page-title .button {
  margin: 3% auto 0;
}
.basic-page {
  padding-top: 110px;
  box-sizing: border-box;
}

/*Clients*/

.client {
  width: 200px;
}

/*Dark Horse*/

.darkhorse {
  background: url(../images/darkhorse.png) no-repeat center center;
  min-height: 410px;
}
.chart {
  width: 90%;
  height: auto;
  margin: 30px auto 10px;
  display: block;
  overflow: hidden;
}
.chart .numbers {
  width: 10%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}
.chart .numbers li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 49px;
  border-bottom: 1px solid #444;
  position: relative;
  bottom: 50px;
}
.chart .numbers li:last-child {
  height: 50px;
}
.chart .numbers li span {
  color: #eee;
  position: absolute;
  bottom: 0;
  right: 10px;
}
.chart .bars {
  display: inline-block;
  width: 90%;
  height: 300px;
  padding: 0;
  margin: 0;
  border-left: 1px solid #444;
  border-bottom: 1px solid #444;
  box-sizing: border-box;
}
.chart .bars li {
  display: inline-block;
  width: 18%;
  height: 300px;
  margin: 0;
  text-align: center;
  position: relative;
}
.chart .bars li .bar {
  display: block;
  width: 80%;
  margin-left: 15px;
  background: #0079C1;
  position: absolute;
  bottom: 0;
  -webkit-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
}
.chart .bars li .bar:hover {
  background: #20B7AC;
  cursor: pointer;
}
.chart .bars li .bar:before {
  color: #2B3849;
  font-size: 1.5em;
  font-weight: 700;
  content: attr(data-number);
  position: relative;
  bottom: 0;
}
.chart .bars li span {
  color: #eee;
  width: 120%;
  position: absolute;
  bottom: -3.5em;
  left: 0;
  text-align: center;
  font-size: .7em;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.citation {
  font-style: italic;
  text-align: right;
  float: right;
}

/*fundamentals*/
.fundamentalsbg {
  background: #0079c1;
  background: url('../images/blueprint.png') no-repeat center center;
  background-size: cover;
  padding-top: 0;
  border-bottom: 0;
}
.fundamentalsbg header {
  background: rgba(233, 233, 234, 0.7);
  padding: 20px 0;
}
.fundamentalsbg header h2 {
  color: #0079c1;
}
.fundamentals h1 {
  margin: 50px 0 50px;
}
.fundamentals .row {
  /*margin-bottom: 50px;*/
  overflow: hidden;
  text-align: center;
}
.fundamentals img {
  width: 120px;
  margin-top: 30px;
}
.fundamentals h4 {
  text-align: center;
  color: #e9e9ea;
}
.fundamentals ul {
  font-size: .8em;
  line-height: 1.2em;
  padding-left: 20px;
  text-align: left;
  color: #e9e9ea;
}

.flip {
  -webkit-perspective: 800;
          perspective: 800;
  width: auto;
  height: 300px;
  margin-bottom: 20px;
  position: relative;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 2;
  text-align: center;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}
.flip .card .back h4 {
  height: 57px;
  border-bottom: 1px dashed #FFFFFF;
}
.flip .card a {
  border: 1px solid #ffffff;
  color: #ffffff;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
}


/*Why Implement*/

.bx-wrapper {
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
}
.bx-viewport {
  height: auto !important;
  left: 0 !important;
  /*background: #E9E9EA !important;*/
}
.bx-thumbnail {
  width: 100%;
}
.bx-thumbnail img {
  margin: 20px auto 20px;
  max-height: 100px;
  max-width: 180px;
}
.bx-context {
  font-size: 1.3em;
  color: #2B3849;
  background: #E9E9EA;
  padding: 20px 10px;
  margin-bottom: 20px;
  position: relative;
}
.bx-context::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 12px 9px 0;
  border-color: #E9E9EA transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -12px;
  left: 50%;
  margin-left: -9px;
}
.bx-wrapper .bx-pager {
  position: relative;
  bottom: 0;
  width: 100%;
  padding-top: 0;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #E9E9EA;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #0079c1;
}
.slide {
  margin-top: -10px;
}
.referralmachine {
  background: #2B3849;
  color: #E9E9EA;
  border-bottom: 0px;
}
.referralmachine p {
  font-size: 1.5em;
  font-weight: 700;
}

/*Top Goals*/
.topgoals h3{
  padding: 20px 0;
  color: #2b3849;
  font-size: 1.1em;
}

/*homepage Features*/
.hp-features a {
  display: block;
}
.hp-features img{
  width: 150px;
}
.hp-features .fourth {
  height: 230px;
  padding: 15px;
  box-sizing: border-box;
}
.hp-features .fourth:hover {
  background: #e9e9ea;
  cursor: pointer;
}
.hp-features h3{
  padding: 0;
  color: #2b3849;
  font-size: 1.1em;
}

.goto {
  margin-top: -100px;        /* Size of fixed header */
  padding-bottom: 100px;
  display: block;
}

/*How Do Marketers...*/
.marketers section {
  background: #e9e9ea;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
  border-left: solid 10px #0079c1;
  text-align: center !important;
}

/*Features*/

.features {
  background: #2B3849;
  color: #e9e9ea;
  padding-bottom: 0;
}
.features header {
  margin-bottom: 0;
}
.features h4, .features p, .features section {
  text-align: center !important;
}
.features p {
  margin: 0;
  padding: 0 0 20px;
}
.features .headerimg {
  width: 80%;
}
.featurelist section {
  text-align: center !important;
}
.featuredetails img {
  margin: 0 auto 30px;
  width: 100%;
  max-width: 400px;
}
.featuredetails.hp img {
  max-width: 200px;
}
.featuredetails .row {
  overflow: hidden;
  padding: 30px 0 0;
}
.featuredetails .border {
  border-bottom: 1px solid #d9d9da;
  width: 80%;
  clear: both;
  margin: 20px auto;
}

/*animations*/
.animated {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(.85); opacity: .6; }
    50% { -webkit-transform: scale(1); opacity: 1; }
    100% { -webkit-transform: scale(.85); opacity: .6; }
}
@keyframes pulse {
    0% { transform: scale(.85); opacity: .6; }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(.85); opacity: .6; }
}
.pulse {
    -webkit-animation-name: pulse;
            animation-name: pulse;
}
.animatedlong {
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateY(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateY(-3px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateY(3px);}
}
@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateY(-3px);}
    20%, 40%, 60%, 80% {transform: translateY(3px);}
}
.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}

/*Insights & Analytics Page*/

.page-title.analytics {
  /*background: #E9E9Ea;*/
  background: #2b3849;
  padding-bottom: 0;
}
.page-title.analytics h1 {
  font-size: 1.9em;
}
.page-title.analytics h3 {
  font-size: 1em;
}
.page-title.analytics section {
  margin-bottom: 0;
  position: relative;
}
.page-title.analytics a {
  display: block;
  width: 100%;
}
.page-title.analytics .insights img {
  width: 100%;
  opacity:0;
}
.page-title.analytics .insights .insight-btn {
  display: block;
  width: 100%;
  height: 16.66%;
  background: url('../images/insights-sprites2.png') no-repeat;
  background-size: 100% auto;
}
.page-title.analytics .insights .insights1 {
  background-position: 0 0;
}
.page-title.analytics .insights .insights1.active, .page-title.analytics .insights .insights1:hover{
  background-position: 0 9.09%;
}
.page-title.analytics .insights .insights2 {
  background-position: 0 18.18%;
}
.page-title.analytics .insights .insights2.active, .page-title.analytics .insights .insights2:hover{
  background-position: 0 27.27%;
}
.page-title.analytics .insights .insights3 {
  background-position: 0 36.36%;
}
.page-title.analytics .insights .insights3.active, .page-title.analytics .insights .insights3:hover{
  background-position: 0 45.45%;
}
.page-title.analytics .insights .insights4 {
  background-position: 0 54.54%;
}
.page-title.analytics .insights .insights4.active, .page-title.analytics .insights .insights4:hover{
  background-position: 0 63.63%;
}
.page-title.analytics .insights .insights5 {
  background-position: 0 72.72%;
}
.page-title.analytics .insights .insights5.active, .page-title.analytics .insights .insights5:hover{
  background-position: 0 81.81%;
}
.page-title.analytics .insights .insights6 {
  background-position: 0 90.9%;
}
.page-title.analytics .insights .insights6.active, .page-title.analytics .insights .insights6:hover{
  background-position: 0 99.99%;
}
.page-title.analytics .insightsinfo {
  background: #E9E9EA;
  padding: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 15px;
}
.page-title.analytics .insightsinfo div {
  display: none;
}
.page-title.analytics .insightsinfo div.active {
  display: block;
}
.page-title.analytics .insightsinfo img {
  width: 60px;
}
.page-title.analytics .insightsinfo h3 {
  padding: 10px 0 0;
}
.page-title.analytics .insightsinfo p {
  font-size: .7em;
  margin: 5px 0;
}
.page-title.analytics .insightsinfo .metrics {
  list-style: none;
  color: #e9e9ea;
  font-size: .8em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.page-title.analytics .insightsinfo .metrics li {
  display: block;
  margin: 0 auto;
}
.page-title.analytics .insightsinfo .metrics li.ok {
  background: #0079c1;
  width: 50%;
}
.page-title.analytics .insightsinfo .metrics li.good {
  background: #f77c63;
  width: 75%;
}
.page-title.analytics .insightsinfo .metrics li.great {
  background: #20b7ac;

}

/*Funnel*/

.page-title.features {
  background: #2b3849;
}
.page-title.features section {
  text-align: center !important;
  margin-bottom: 30px;
}
/*.page-title.features section img {
  width: 100%;
}*/
/*funnel*/
.funnel {
  position: relative;
  overflow: hidden;
  max-width: 276px;
  margin: 0 auto;
}
.funnel .hide, .funnel .top, .funnel .funnelspin, .funnel .bottom1, .funnel .bottom2 {
  width: 100%;
}
.funnel .hide {
  opacity: 0;
}
.funnel .top, .funnel .bottom1, .funnel .bottom2 {
  opacity: 0;
  position: absolute;
  left: 0;
}
.funnel .top {
  top: 0;
  left: 0;
  -webkit-transition: opacity 500ms ease-in-out;
          transition: opacity 500ms ease-in-out;
  -webkit-transition-delay: 2100ms;
          transition-delay: 2100ms;
}
.funnel .top.drop {
  opacity: 1;
}
.funnel .funnelspin {
  position: absolute;
  top: 29.35%;
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: transform 1500ms ease-in-out;
          transition: transform 1500ms ease-in-out;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}
.funnel .funnelspin.flipper {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.funnel .bottom1, .funnel .bottom2 {
  top: 76.1%;
}

/* Mike's Story*/
.page-title.howitworks {
  background: #2b3849;
  height: 360px;
}
.page-title.howitworks header h1 {
  font-size: 1.7em;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
#story section {
  text-align: center !important;
  position: relative;
}
#story section figure {
  margin: 0;
}
#story section p {
  font-size: 1.7em;
  color: #0079c1;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#story figure{
  filter: none;
  -webkit-filter: blur(0px);
     -moz-filter: blur(0px);
      -ms-filter: blur(0px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);

}
/*Step One*/
#stepone {
  height: 600px;
  position: relative;
}
  #stepone #mike {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
    -webkit-transition: opacity .3s, background .5s, -webkit-transform 1s;
            transition: opacity .3s, background .5s, transform 1s;
    background: url('../images/mike_01.png');
    background-repeat: no-repeat;
    width: 216px;
    height: 375px;
  }
  #stepone #desk {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transform: translateX(-100px) scale(0.8);
            transform: translateX(-100px) scale(0.8);
    -webkit-transition: opacity .3s, background .5s, -webkit-transform 1s;
            transition: opacity .3s, background .5s, transform 1s;
    background: url('../images/onlinepurchase.png');
    background-repeat: no-repeat;
    opacity: 0;
    width: 420px;
    height: 322px;
  }
#steptwo {
  height: 1000px;
  position: relative;
}
  #steptwo #suzie{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transform: translateX(150px) scale(0.8);
            transform: translateX(150px) scale(0.8);
    -webkit-transition: opacity .3s, background .5s, -webkit-transform 1s;
            transition: opacity .3s, background .5s, transform 1s;
    background: url('../images/suzie_01.png');
    background-repeat: no-repeat;
    width: 216px;
    height: 375px;
  }
  #steptwo #mikesfriends{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    -webkit-transform: translateX(120px) scale(0.8);
            transform: translateX(120px) scale(0.8);
    -webkit-transition: opacity .3s, background .5s, -webkit-transform 1s;
            transition: opacity .3s, background .5s, transform 1s;
  }
  #steptwo #plane-right {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    -webkit-transition: opacity .3s, background .5s, -webkit-transform 1s;
            transition: opacity .3s, background .5s, transform 1s;
    background: url('../images/referral_01.png');
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
  }
#stepthree {
  height: 1500px;
  position: relative;
}
  #stepthree #plane-referral {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    -webkit-transition: opacity .3s, background .5s, -webkit-transform 1s;
            transition: opacity .3s, background .5s, transform 1s;
    background: url('../images/referral_01.png');
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
  }
#stepfour {
  height: 1000px;
  position: relative;
}
  #stepfour #suziesfriends{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    -webkit-transform: translateX(120px) scale(0.8);
            transform: translateX(120px) scale(0.8);
    -webkit-transition: opacity .3s, background .5s, -webkit-transform 1s;
            transition: opacity .3s, background .5s, transform 1s;
  }
  #stepfour #plane-right2 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    -webkit-transform: translate(100px, -150px);
            transform: translate(100px, -150px);
    -webkit-transition: opacity .3s, background .5s, -webkit-transform 1s;
            transition: opacity .3s, background .5s, transform 1s;
    background: url('../images/referral_01.png');
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
  }
#stepfive {
  height: 800px;
  position: relative;
}
  #stepfive #reward {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    opacity: 0;
    -webkit-transform: translateY(-100px) scale(0.8);
            transform: translateY(-100px) scale(0.8);
    -webkit-transition: -webkit-transform 1s, scale 1s;
            transition: transform 1s, scale 1s;
  }
  #stepfive #mike2 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transform: translateX(-250px) scale(0.8);
            transform: translateX(-250px) scale(0.8);
    -webkit-transition: -webkit-transform 1s, scale 1s;
            transition: transform 1s, scale 1s;
    background: url('../images/mike_03.png');
    background-repeat: no-repeat;
    width: 216px;
    height: 375px;
  }


/*Request Info*/
.modal {
  min-height: 10em;
  width: 95%;
  max-width: 800px;
  padding: 20px 10px;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
}
.modal header {
  margin: 0;
}
.modal h1 {
  font-size: 1.4em;
}
.modal .close {
  color: #999999;
  font-size: 12px;
  text-decoration: none;
  margin: 0 auto;
  display: block;
}
.modal .close:hover {
  color: #ffffff;
}
.overlay {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 9998;
  opacity: 0.5;
}
.request {
  background: url(../images/requestbg.png) no-repeat center center;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* ====================
    INTERMEDIATE: Menu
   ==================== */
  nav a {
    float: left;
    width: 21%;
    margin: 0;
    padding: 15px 2%;
    margin-bottom: 0;
    font-size: .75em;
  }
  nav li:first-child a {
    margin-left: 0;
  }
  nav li:last-child a {
    margin-right: 0;
  }
  /* ========================
    INTERMEDIATE: OTHER
   ======================== */
  nav ul li {
    display: block;
  }
  input {
    width: 75%;
  }
  .oldie nav a {
    margin: 0 0.7%;
  }
  .client {
    width: 100px;
  }
  .request {
    background: url(../images/requestbg.png) no-repeat left center;
  }
  .page-title.analytics .insights img {
    width: 100%;
    opacity:0;
  }
  .page-title.howitworks header h1 {
    font-size: 2.4em;
  }

}
@media only screen and (min-width: 768px) {
  /* ============
    WIDE: Menu
   ============ */
  .title {
    float: left;
  }
  .title img {
    width: 250px;
  }
  nav {
    float: right;
    clear: both;
    width: 100%;
  }
  nav a {
    font-size: 1em;
  }
  /* ============
    WIDE: Main
   ============ */
  .wrapper {
    width: 90%;
    margin: 0 5%;
  }
  .header-container .wrapper {
    width: 100%;
    margin: 0;
  }
  .main article {
    float: left;
    width: 100%;
  }
  .main article section {
    text-align: left;
  }
  .main aside {
    float: right;
    width: 28%;
  }
  .footer-container footer .half {
    text-align: left;
  }
  .footer-container footer .last {
    text-align: right;
  }
  .row {
    clear: both;
  }
  .half {
    width: 47.5%;
    margin-right: 5%;
    margin-bottom: 30px;
    float: left;
  }
  .third {
    width: 30%;
    margin-right: 5%;
    margin-bottom: 30px;
    float: left;
  }
  .twothird {
    width: 60%;
    margin-right: 5%;
    margin-bottom: 30px;
    float: left;
  }
  .fourth {
    width: 21%;
    margin-right: 5%;
    margin-bottom: 30px;
    float: left;
  }
  .last {
    margin-right: 0;
  }
  input {
    width: 60%;
  }
  .page-title {
    font-size: 1.3em;
  }
  .page-title h1, .page-title.home h1 {
    font-size: 2.5em;
    line-height: 1em;
    padding: 3% 0;
  }
  .page-title footer .icon-button {
    display: inline-block;
  }
  .page-title .button {
    margin: 0;
  }
  .reg {
    display: inline-block;
    width: auto !important;
    padding: 0 40px !important;
    margin: 0 auto;
  }
  .client {
    width: 200px;
  }

  .marketers section {
    text-align: left !important;
    overflow: hidden;
    position: relative;
  }
  .marketers section .icon {
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .marketers section .icon img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .marketers section .content {
    margin-left: 85px;
  }

  .tech {
    width: 80%;
  }
  /*.tech .pop-top img {
    float: left;
    margin-right: 20px;
  }*/
  .tech .pop-top h1 {
    line-height: 1.5em;
  }
  .venn .venn-info-box {
    width: 60%;
    left: 50%;
    margin-left: -30%;
    top: 50%;
    margin-top: -25%;
  }

  .socialbar li p {
    font-size: 2em !important;
  }
  .floatl {
    float: left;
  }
  .floatr {
    float: right;
  }
  .nofloat {
    clear: both;
  }
  .modal {
    padding: 20px;
    transform: translate(-50%, -50%);
  }
  .modal h1 {
    font-size: 2.4em;
  }
}
@media only screen and (min-width: 1140px) {
  /* ===============
    Maximal Width
   =============== */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto;
  }
  .menu {
    display: none;
  }
  nav {
    width: auto;
    clear: none;
    padding: 30px 10px 0;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #ECEDEF;
    font-size: .8em;
    display: block;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 10px 30px;
    width: auto;
    text-align: center;
    text-decoration: none;
    font-weight: light;
    text-transform: uppercase;
    color: #222 !important;
    background: #ECEDEF;
  }
  nav a:hover {
    color: #0079C1 !important;
    background: #ECEDEF;
  }
  nav a.active {
    font-weight: 700;
    color: #0079C1 !important;
    background: #ECEDEF;
  }
  .main-container {
    padding: auto 0;
  }
  .page-title.analytics h1 {
    font-size: 2.5em;
  }
  .modal {
    padding: 20px;
    transform: translate(-50%, -50%);
  }
  .modal h1 {
    font-size: 2.4em;
  }

  .page-title.features section {
    margin-bottom: 0;
  }

  .left, .right {
    width: 47.5%;
    margin-bottom: 30px;
  }
  .left {
    margin-right: 5%;
    float: left;
  }
  .right {
    float: right;
    text-align: right;
  }


  .page-title.analytics header {
    margin-bottom: 0;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
