/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
	height: 100%;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

h1,
h2,
h3 {
	color: #0097B8;
	font: 'Open Sans', Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
}
h2,
h3 {
	font-weight: 300;
	line-height: 1.2em;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Open Sans', Helvetica, Helvetica Neue, Arial;
}

/* ===================
    ALL: Theme
   =================== */

.header-container {
    /*border-bottom: 20px solid #0097B8;*/
	position: fixed;
	top: 0;
	width:100%;
	z-index: 9000;
}

.footer-container,
.main aside {
    border-top: 20px solid #0097B8;
}

.header-container,
.main aside {
    background: #ECEDEF;
}

.title,
.title img {
	width: 200px;
    color: white;
	float:left;
	margin: 10px 0;
}

article {
	text-align: center;
}

/* ==============
    MOBILE: Menu
   ============== */

nav { 
	width: 100%;
	background: #3C4A60;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
	background: #3C4A60;
	font-size:.8em;
	width: 100%;
}

nav a {
    display: block;
    padding: 10px 0;

    text-align: center;
    text-decoration: none;
    font-weight: light;
	text-transform: uppercase;

    color: white;
    background: #3C4A60;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    background: #182029;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: #222;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   custom styles
   ========================================================================== */

.menu {
	display: block;
    margin-top: 20px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 50px;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #3C4A60;
	float: right;
}
nav ul {
	display: none;
	background: #3C4A60;
	clear:both;
}

.footer-container {
	background: #182029;
}

.main-container {
	border-bottom: #C5C5C5 1px solid;
	padding: 5% 0;
}

.button {
	display: block;
	width: 100%;
	padding: 0;
	padding-left: 10px;
	background: #F6936F;
	color: white;
	text-decoration: none;
	text-align: left;
	font-size: 1.2em;
	overflow:hidden;
	line-height: 56px;
	border: 0;
	box-sizing: border-box;
}
input{
	width: 100%;
	padding: 5px;
	text-align: center;
	box-sizing: border-box;
}
.r-icon img {
	float: right;
}

/* ==========================================================================
   SECTIONS
   ========================================================================== */

/*Top*/
#top {
	background: url('../images/topbg.jpg') center center no-repeat;
	padding-top: 110px;
	box-sizing: border-box;
	color: #ECEDEF;
}
#top h1 {
	color: white;
	font-weight: bold;
}
#top footer {
	clear: both;
	padding:5% 0;
	text-align: center;
	overflow: hidden;
}
#top footer .icon-button {
	display: none;
}
#top .button {
	margin: 3% auto 0;
}

/*Clients*/
#clients section img {
	width: 200px;
}

/*Why Implement*/
.bx-viewport {
	height: auto !important;
	text-align:center;
}
.bx-thumbnail {
	width: 100%;
}
.bx-thumbnail img {
	margin: 0 auto 20px;
}
.bx-context {
	font-size: 1.5em;
	color: #0067A3;
}
#whyimplement .implement-footer header { 
	display: table;
	height: 100%;
}
#whyimplement .implement-footer header h3 {
	font-weight: bold;
	text-align: center;
	display: table-cell;
    vertical-align: middle;
	padding-bottom: 15px;
}
#whyimplement .implement-footer ul {
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	margin-top: 40px;
}
#whyimplement .implement-footer ul li {
	padding: .2em 0; 
}
#whyimplement .implement-footer ul li:before {
	content: "";
    line-height: 1em;
    width: .7em;
    height: .7em;
    float: left;
    margin: .4em .6em 0 0;
    border-radius: 50%;
	background: #FC7C63;
}

/*Mike Makes a Purchase*/

/*How Do Marketers...*/
#marketers article section {
	margin-top: 30px;
	height: 160px;
	position: relative;
}
#marketers article section .slideleft {
	background: #0097B8;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -100%;
}
#marketers article section h2 {
	text-align: left;
	font-weight: 400;
	position: relative;
	padding-left:100px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.4em;
	color: #0067A3;
}
#marketers article section .slideout {
	background: #0097B8;
	color: #ECEDEF;
	position: absolute;
	top: 0;
	right: 100%;
	width: 100%;
	height: 160px;
	padding: 10px 15px;
	margin-right: -85px;
	-webkit-transition: margin-right 1s, right 1s;
	transition: margin-right 1s, right 1s;
	box-sizing: border-box;
	text-align: left;
	font-size: .8em;
	border-radius: 0 80px 80px 0;animation: move 3s ease infinite;
}

#marketers article section .slideout.showslide {
	right: 0;
	margin-right: 0;
}
#marketers article section .slideout .content {
	display: none;
	padding-right: 90px;
}
#marketers article section .slideout .content h4 {
	padding: 0;
	margin: 0;
	font-weight: 300;
	font-size: 1.1em;
}
#marketers article section .slideout .content p {
	padding: 0;
	margin: 0;
}
#marketers article section .slideout img {
	position: absolute;
	top: 35px;
	right: 0;
	width: 90px;
	cursor: pointer;
}
	
/*Enterprise Ready*/
#enterprise .spinner {
	width: 250px;
	height: 400px; 
	margin: 0 auto;
	position: relative;
}
#enterprise .middle {
	width: 200px;
	position: absolute;
	top: 75px;
	left: 25px;
}
#enterprise .spin {
	width: 125px;
	position: absolute;
	top: 112px;
	left: 62px;
	
	-webkit-animation: orbit 12s linear infinite;
            animation: orbit 12s linear infinite;
}
#enterprise .spin.one{
	-webkit-transform: translateX(90px);
			transform: translateX(90px);
	animation-delay: 0s;
}
#enterprise .spin.two{
	-webkit-transform: translateX(90px);
			transform: translateX(90px);
	animation-delay: 4s;
}
#enterprise .spin.three{
	-webkit-transform: translateX(90px);
			transform: translateX(90px);
	animation-delay: 8s;
}
@-webkit-keyframes orbit {
    from { -webkit-transform: rotate(0deg) translateX(90px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(90px) rotate(-360deg); }
}

@-moz-keyframes orbit {
    from { -moz-transform: rotate(0deg) translateX(90px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(90px) rotate(-360deg); }
}

@-o-keyframes orbit {
    from { -o-transform: rotate(0deg) translateX(90px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(90px) rotate(-360deg); }
}

@keyframes orbit {
    from { transform: rotate(0deg) translateX(90px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(90px) rotate(-360deg); }
}

#enterprise {}

/*Insights & Analytics*/

/*Request Info*/
#request {
	background: #2B3849;
	color: #ECEDEF;
	border-bottom: 0;
}
#request h2 {
	color: #ECEDEF;
}
#request article {
	background: url(../images/requestbg.png) no-repeat;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 29.3%;
        margin: 0;
        padding: 15px 2%;
        margin-bottom: 0;
		font-size: .75em;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: OTHER
   ======================== */

    nav ul li {
        display: block;
    }
	input{
		width: 75%;
	}

    .oldie nav a {
        margin: 0 0.7%;
    }
	.half {
		width: 47.5%;
		margin-right: 5%;
		float:left;
	}
	.third {
		width: 30%;
		margin-right: 5%;
		float:left;
	}
	.fourth {
		width: 21%;
		margin-right: 5%;
		float:left;
	}

	.last {
		margin-right: 0;
	}
	
	#clients section img {
		width: 100px;
	}
	.bx-viewport {
		height: 100px !important;
	}
	.bx-thumbnail {
		float: left;
		margin-right: 3%;
		height: 100px;
		width: auto;
	}
	.bx-context {
		font-size:1.5em;
		text-align: left;
	}
	
	#whyimplement .implement-footer header h3 {
		text-align: left;
		padding: 45px 0;
	}
	
	
}

@media only screen and (min-width: 768px) {

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
	}
	.title img {
		width: 250px;
    }

    nav {
        float: right;
		clear: both;
        width: 100%;
    }
	
	nav a {
        font-size: 1em;
	}

/* ============
    WIDE: Main
   ============ */

    .wrapper {
    width: 90%;
    margin: 0 5%;
}
	.main-container{
		padding: 3% 0;
	}
	
	.main article {
        float: left;
        width: 100%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
	
	input{
		width: 60%;
	}
	.button {
		width: 280px;
	}
	
	#top {
		min-height: 100vh;
		font-size: 1.3em;
	}
	#top h1{
		font-size: 3em;
		line-height: 1em;
		padding: 5% 0;
	}
	#top footer {
		padding: 10% 0 5%;
	}
	#top footer .icon-button {
		display: inline-block;
	}	
	#top .button {
		margin: 0;
	}
	
	#clients section img {
		width: 200px;
	}
	
	#marketers article section h2 {
		font-size: 2em;
		padding-left: 170px;
	}
	#marketers article section .slideout {
		margin-left: 160px;
		font-size: 1em;
	}
	#marketers article section .slideout img {
		width: 160px;
		top: 0;
	}
	
	#enterprise .spinner {
		width: 350px;
		height: 450px;
	}
	#enterprise .middle {
		width: 250px;
		top: 100px;
		left: 50px;
	}
	#enterprise .spin {
		width: 150px;
		top: 150px;
		left: 100px;
	}
	#enterprise .spin.one{
		-webkit-transform: translateX(110px);
				transform: translateX(110px);
		animation-delay: 0s;
	}
	#enterprise .spin.two{
		-webkit-transform: translateX(110px);
				transform: translateX(110px);
		animation-delay: 4s;
	}
	#enterprise .spin.three{
		-webkit-transform: translateX(110px);
				transform: translateX(110px);
		animation-delay: 8s;
	}
	@-webkit-keyframes orbit {
		from { -webkit-transform: rotate(0deg) translateX(110px) rotate(0deg); }
		to   { -webkit-transform: rotate(360deg) translateX(110px) rotate(-360deg); }
	}

	@-moz-keyframes orbit {
		from { -moz-transform: rotate(0deg) translateX(110px) rotate(0deg); }
		to   { -moz-transform: rotate(360deg) translateX(110px) rotate(-360deg); }
	}

	@-o-keyframes orbit {
		from { -o-transform: rotate(0deg) translateX(110px) rotate(0deg); }
		to   { -o-transform: rotate(360deg) translateX(110px) rotate(-360deg); }
	}

	@keyframes orbit {
		from { transform: rotate(0deg) translateX(110px) rotate(0deg); }
		to   { transform: rotate(360deg) translateX(110px) rotate(-360deg); }
	}
	
	.floatl {
		float: left;
	}
	.floatr {
		float: right;
	}
	
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}



/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}