html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
h1, h2, h3 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  padding: 0 0 10px;
  margin: 0;
  font-weight: 700;
  line-height: 1.2em;
  text-transform: uppercase;
}
h1 {
  color: #2B3849;
  font-size: 2.4em;
}
h2 {
  color: #20B7AC;
  font-size: 1.5em;
}
h3 {
  color: #20B7AC;
  font-size: 1em;
}
.white-text {
  color: #E9E9EA;
}
.red-text {
  color: #F77C63;
}
.blue-text {
  color: #0079C1;
}
.dkblue-text {
  color: #2B3849;
}
.green-text {
  color: #20B7AC;
}
.black-text {
  color: #222;
}
.center-text {
  text-align: center !important;
}
.center-margin {
  margin: 0 auto;
}
audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
  font: 16px/26px 'Open Sans', Helvetica, Helvetica Neue, Arial;
}

/* ===================
    ALL: Theme
   =================== */

.header-container {
  /*border-bottom: 20px solid #0097B8;*/
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;
  height: 100px;
}
.header-container header{
  height: 100px;
}
.footer-container, .main aside {
  border-top: 20px solid #0097B8;
}
.header-container, .main aside {
  background: #ECEDEF;
}
.title, .title img {
  width: 200px;
  color: white;
  float: left;
  margin: 10px 0;
}
article {
  text-align: center;
}
article header {
  margin-bottom: 20px;
}

/* ==============
    MOBILE: Menu
   ============== */

nav {
  width: 100%;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: .8em;
  width: 100%;
  display: none;
}
nav a {
  display: block;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  font-weight: light;
  text-transform: uppercase;
  color: white;
  background: #3C4A60;
}
nav a:hover {
  color: white;
  background: #182029;
}
nav a.active {
  font-weight: 700;
  background: #182029;
}
nav a.menu-request {
  font-weight: 700;
  color: #fff;
  background: #F6936F;
}
nav a.menu-request:hover {
  color: #fff;
  background: #F77C63;
}

.anchor{
  display: block;
  height: 100px; /*same height as header*/
  margin-top: -100px; /*same height as header*/
  visibility: hidden;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
  padding: 0;
}
.main aside {
  color: #222;
  padding: 0px 5% 10px;
}
.footer-container footer {
  padding: 20px 0;
  overflow: hidden;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   custom styles
   ========================================================================== */

.menu {
  display: block;
  margin-top: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: #3C4A60;
  float: right;
}
nav ul {
  background: #3C4A60;
  clear: both;
}
.footer-container {
  background: #182029;
  color: #20b7ac;
}
.footer-container footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-container footer a {
  color: #E9E9EA;
  text-decoration: none;
}
.footer-container footer a:hover, .footer-container footer a:active {
  text-decoration: underline;
}
.main-container {
  border-bottom: #C5C5C5 1px solid;
  padding: 20px 0;
}
.dark {
  background: #2B3849;
  border-bottom: 0px;
}
.button {
  display: block;
  width: 100%;
  padding: 0;
  background: #F6936F;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  overflow: hidden;
  line-height: 56px;
  border: 0;
  box-sizing: border-box;
}
.button:hover {
  background: #F77C63;
}
input {
  width: 100%;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
}
.r-icon {
  text-align: left;
  width: 280px;
  padding-left: 10px;
}
.r-icon img {
  float: right;
}
.list {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.list li {
  margin: 10px 0;
}
.list li i {
  color: #FC7C63;
}

/* ==========================================================================
   SECTIONS
   ========================================================================== */


/*Top*/

.page-title {
  padding-top: 110px;
  box-sizing: border-box;
  color: #ECEDEF;
}
.page-title.home {
  background: url('../images/topbg.jpg') center center no-repeat;
}
.page-title.home h1 {
  font-size: 1.3em;
}
.page-title.home section {
  text-align: center;
}
.page-title footer {
  clear: both;
  padding: 3% 0;
  text-align: center;
  overflow: hidden;
}
.page-title .button {
  margin: 3% auto 0;
}

/*Clients*/

.client {
  width: 200px;
}

/*Dark Horse*/

.darkhorse {
  background: url(../images/darkhorse.png) no-repeat center center;
  min-height: 410px;
}
.chart {
  width: 90%;
  height: auto;
  margin: 30px auto 10px;
  display: block;
  overflow: hidden;
}
.chart .numbers {
  width: 10%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}
.chart .numbers li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 49px;
  border-bottom: 1px solid #444;
  position: relative;
  bottom: 50px;
}
.chart .numbers li:last-child {
  height: 50px;
}
.chart .numbers li span {
  color: #eee;
  position: absolute;
  bottom: 0;
  right: 10px;
}
.chart .bars {
  display: inline-block;
  width: 90%;
  height: 300px;
  padding: 0;
  margin: 0;
  border-left: 1px solid #444;
  border-bottom: 1px solid #444;
  box-sizing: border-box;
}
.chart .bars li {
  display: inline-block;
  width: 18%;
  height: 300px;
  margin: 0;
  text-align: center;
  position: relative;
}
.chart .bars li .bar {
  display: block;
  width: 80%;
  margin-left: 15px;
  background: #0079C1;
  position: absolute;
  bottom: 0;
  -webkit-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
}
.chart .bars li .bar:hover {
  background: #20B7AC;
  cursor: pointer;
}
.chart .bars li .bar:before {
  color: #2B3849;
  font-size: 1.5em;
  font-weight: 700;
  content: attr(data-number);
  position: relative;
  bottom: 0;
}
.chart .bars li span {
  color: #eee;
  width: 120%;
  position: absolute;
  bottom: -3.5em;
  left: 0;
  text-align: center;
  font-size: .7em;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.citation {
  font-style: italic;
  text-align: right;
  float: right;
}

/*Not Just Tech*/
/*.tech {
  min-height: 500px;
}*/
.tech .pop-top {
  width: 100%;
  background: #2B3849;
  margin: 0 auto;
  overflow: hidden;
}
.tech .pop-top img {
  width: 100%;
  max-width: 450px;
}
.tech-scroll {
  background: url(../images/tech-scroll.png) center top repeat-y;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
.tech-scroll .pop {
  margin: 30px auto;
  padding: 15px;
  box-sizing: border-box;
  background: #E9E9EA;
  border: 5px solid;
  width: 100%;
  max-width: 450px;
  overflow: hidden;
  opacity: 0;
}
.tech-scroll .pop:last-child {
  padding: 0;
  background: transparent;
  border: 0px;
  height: 56px;
}
.tech-scroll .pop h3 {
  padding: 10px 0 0;
}
.tech-scroll .pop p {
  margin: 0;
}
.tech-scroll .pop.tech1, .tech-scroll .pop.tech3, .tech-scroll .pop.tech5 {
  border-color: #0079C1;
}
.tech-scroll .pop.tech2, .tech-scroll .pop.tech4, .tech-scroll .pop.tech6 {
  border-color: #20B7AC;
}
.come-in {
  transform: translateY(150px);
  animation: come-in 800ms ease forwards;
  animation-delay: 300ms;
}

@keyframes come-in {
  to { transform: translateY(0); }
  0% { opacity: 0; }
  1% { opacity: 0; }
100% { opacity: 1; }
}

/*Why Implement*/

.bx-wrapper {
  border: #D4D5D6 solid 1px;
  padding: 25px 10px;
  text-align: center;
}
.bx-viewport {
  height: auto !important;
  left: 0 !important;
}
.bx-thumbnail {
  width: 100%;
}
.bx-thumbnail img {
  margin: 0 auto 20px;
}
.bx-context {
  font-size: 1.3em;
}
.slide {
  margin-top: -10px;
}
.referralmachine {
  background: #2B3849;
  color: #E9E9EA;
}
.referralmachine p {
  font-size: 1.5em;
  font-weight: 700;
}

/*Mike Makes a Purchase*/


/*How Do Marketers...*/

#marketers article section {
  margin-top: 30px;
  height: 160px;
  position: relative;
}
#marketers article section .slideleft {
  background: #0097B8;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
}
#marketers article section h2 {
  text-align: left;
  font-weight: 400;
  position: relative;
  padding-left: 100px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25em;
  color: #0067A3;
}
#marketers article section .slideout {
  background: #0097B8;
  color: #ECEDEF;
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 160px;
  padding: 10px 10px;
  margin-right: -100px;
  -webkit-transition: margin-right 1s, right 1s;
  transition: margin-right 1s, right 1s;
  box-sizing: border-box;
  text-align: left;
  font-size: .8em;
  border-radius: 0 80px 80px 0;
  animation: move 3s ease infinite;
}
#marketers article section .slideout.showslide {
  right: 0;
  margin-right: 0;
}
#marketers article section .slideout .content {
  display: none;
  padding-right: 70px;
  word-break: keep-all;
}
#marketers article section .slideout .content h4 {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.2em;
  padding-bottom: 3px;
}
#marketers article section .slideout .content p {
  padding: 0;
  margin: 0;
  line-height: 1.2em;
}
#marketers article section .slideout img {
  position: absolute;
  top: 35px;
  right: 0;
  width: 90px;
  cursor: pointer;
}

/*Features*/

.page-title.features {
  background: #2B3849;
}
.page-title.features header {
  margin: 0 auto;
}
.page-title.features .path {
  background: #E9E9Ea;
  text-align: center;
}
.page-title.features .path img {
  width: 100%;
  max-width: 800px;
}
.featurelist section {
  text-align: center !important;
}


/*Venn Diagram*/

.venn {
  text-align: center !important;
  position: relative;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto 30px;
  overflow: hidden;
}
.venn img {
  max-width: 100%;
}
.venn a {
  display: block;
  position: absolute;
  width: 26%;
  height: 26%;
  border-radius: 50%;
}
.venn a:hover {
  background: url(../images/venn_hover.png) no-repeat center center;
}
.venn .venn_owned {
  top: 29%;
  left: 14.4%;
}
.venn .venn_paid {
  top: 29%;
  left: 58.8%;
}
.venn .venn_earned {
  top: 67%;
  left: 36.6%;
}

/*Insights & Analytics Page*/

.page-title.analytics {
  /*background: #E9E9Ea;*/
  background: #2b3849;
  padding-bottom: 0;
}
.page-title.analytics h1 {
  font-size: 1.9em;
}
.page-title.analytics section {
  margin-bottom: 0;
  position: relative;
}
.page-title.analytics a {
  display: block;
  width: 100%;
  height: 16.666%;
}
.page-title.analytics .insights img {
  width: 100%;
}
.page-title.analytics .insightsinfo {
  background: #E9E9EA;
  padding: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 15px;
}
.page-title.analytics .insightsinfo div {
  display: none;
}
.page-title.analytics .insightsinfo div.active {
  display: block;
}
.page-title.analytics .insightsinfo img {
  width: 100px;
}
.page-title.analytics .insightsinfo h3 {
  padding: 10px 0 0;
}
.page-title.analytics .insightsinfo p {
  font-size: .9em;
  margin: 5px 0;
}
.casestudy img {
  width: 100%;
}
.socialbar {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
.socialbar li {
  display: block;
  float: left;
  height: 70px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}
.socialbar li i {
  font-size: 6em;
  position: absolute;
  opacity: .4;
  right: -5px;
  top: -12px;
}
.socialbar li label {
  clear: both;
  font-size: .8em;
}
.socialbar li div {
  font-size: 1.9em;
}
.socialbar li.bar-email {
  background: #20b7ac;
  width: 0%;
}
.socialbar li.bar-facebook {
  background: #3A5A8F;
  width: 0%;
}
.socialbar li.bar-twitter {
  background: #10A7DD;
  width: 0%;
}

/*How it Works*/

.page-title.howitworks {
  /*background: #E9E9Ea;*/
  background: #2b3849;
}
.page-title.howitworks section {
  text-align: center !important;
}
.page-title.howitworks section img {
  width: 100%;
}
/*funnels*/
.funnel {
  position: relative;
  overflow: hidden;
}
.funnel .hide, .funnel .top, .funnel .funnelspin, .funnel .bottom1, .funnel .bottom2, .funnel .bottom3 {
  width: 100%;
}
.funnel .hide {
  opacity: 0;
}
.funnel .top, .funnel .bottom1, .funnel .bottom2, .funnel .bottom3 {
  opacity: 0;
  position: absolute;
  left: 0;
}
.funnel .top {
  top: 0;
  left: 0;
  -webkit-transition: opacity 500ms ease-in-out;
          transition: opacity 500ms ease-in-out;
  -webkit-transition-delay: 2100ms;
          transition-delay: 2100ms;
}
.funnel .top.drop {
  opacity: 1;
}
.funnel .funnelspin {
  position: absolute;
  top: 24.93%;
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: transform 1500ms ease-in-out;
          transition: transform 1500ms ease-in-out;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}
.funnel .funnelspin.flip {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.funnel .bottom1, .funnel .bottom2, .funnel .bottom3 {
  top: 73.28%;
}

/*Request Info*/

.request {
  background: url(../images/requestbg.png) no-repeat center center;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* ====================
    INTERMEDIATE: Menu
   ==================== */
  nav a {
    float: left;
    width: 21%;
    margin: 0;
    padding: 15px 2%;
    margin-bottom: 0;
    font-size: .75em;
  }
  nav li:first-child a {
    margin-left: 0;
  }
  nav li:last-child a {
    margin-right: 0;
  }
  /* ========================
    INTERMEDIATE: OTHER
   ======================== */
  nav ul li {
    display: block;
  }
  input {
    width: 75%;
  }
  .oldie nav a {
    margin: 0 0.7%;
  }
  .client {
    width: 100px;
  }
  .darkhorse {
    background: url(../images/darkhorse.png) no-repeat left center;
  }
  .request {
    background: url(../images/requestbg.png) no-repeat left center;
  }
  .page-title.analytics .insights img {
    width: auto;
  }
  .socialbar li {
    text-align: right;
  }
  .socialbar li label {
    font-size: 1em;
    padding-right: 3px;
  }
  .socialbar li div {
    font-size: 2.8em;
    padding-right: 3px;
  }
}
@media only screen and (min-width: 768px) {
  /* ============
    WIDE: Menu
   ============ */
  .title {
    float: left;
  }
  .title img {
    width: 250px;
  }
  nav {
    float: right;
    clear: both;
    width: 100%;
  }
  nav a {
    font-size: 1em;
  }
  /* ============
    WIDE: Main
   ============ */
  .wrapper {
    width: 90%;
    margin: 0 5%;
  }
  .header-container .wrapper {
    width: 100%;
    margin: 0;
  }
  .main article {
    float: left;
    width: 100%;
  }
  .main article section {
    text-align: left;
  }
  .main aside {
    float: right;
    width: 28%;
  }
  .row {
    clear: both;
  }
  .half {
    width: 47.5%;
    margin-right: 5%;
    margin-bottom: 30px;
    float: left;
  }
  .third {
    width: 30%;
    margin-right: 5%;
    margin-bottom: 30px;
    float: left;
  }
  .twothird {
    width: 60%;
    margin-right: 5%;
    margin-bottom: 30px;
    float: left;
  }
  .fourth {
    width: 21%;
    margin-right: 5%;
    margin-bottom: 30px;
    float: left;
  }
  .last {
    margin-right: 0;
  }
  input {
    width: 60%;
  }
  .page-title {
    font-size: 1.3em;
  }
  .page-title h1, .page-title.home h1 {
    font-size: 2.5em;
    line-height: 1em;
    padding: 3% 0;
  }
  .page-title footer .icon-button {
    display: inline-block;
  }
  .page-title .button {
    margin: 0;
  }
  .reg {
    display: inline-block;
    width: auto !important;
    padding: 0 40px !important;
    margin: 0 auto;
  }
  .client {
    width: 200px;
  }
  #marketers article section h2 {
    font-size: 2em;
    padding-left: 170px;
  }
  #marketers article section .slideout {
    margin-left: 160px;
    font-size: 1em;
  }
  #marketers article section .slideout img {
    width: 160px;
    top: 0;
  }
  #marketers article section .slideout .content {
    padding-right: 150px;
  }
  #marketers article section .slideout .content h4 {
    display: block;
  }
  .tech-scroll .pop.tech1, .tech-scroll .pop.tech3, .tech-scroll .pop.tech5 {
    margin-left: 100px;
  }
  .tech-scroll .pop.tech2, .tech-scroll .pop.tech4, .tech-scroll .pop.tech6 {
    margin-right: 100px;
  }
  .socialbar li div {
    font-size: 3.5em;
  }
  .floatl {
    float: left;
  }
  .floatr {
    float: right;
  }
  .nofloat {
    clear: both;
  }
}
@media only screen and (min-width: 1140px) {
  /* ===============
    Maximal Width
   =============== */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto;
  }
  .menu {
    display: none;
  }
  nav {
    width: auto;
    clear: none;
    padding: 30px 10px 0;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #ECEDEF;
    font-size: .8em;
    display: block;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 10px 30px;
    width: auto;
    text-align: center;
    text-decoration: none;
    font-weight: light;
    text-transform: uppercase;
    color: #222;
    background: #ECEDEF;
  }
  nav a:hover {
    color: #0079C1;
    background: #ECEDEF;
  }
  nav a.active {
    font-weight: 700;
    color: #0079C1;
    background: #ECEDEF;
  }
  .main-container {
    padding: auto 0;
  }
  .page-title.analytics h1 {
    font-size: 2.5em;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
